@import "./vars";

.toolbar {
  height: $toolbar-height;
  background-color: $background-color;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 999;

  &__btn {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: cover;
    margin-left: 10px;
  }
  .brush {
    background: url("../assets/images/brush.png") no-repeat center center;
  }
  .rect {
    background: url("../assets/images/rounded-rectangle.png") no-repeat center
      center;
  }
  .circle {
    background: url("../assets/images/circle.png") no-repeat center center;
  }
  .eraser {
    background: url("../assets/images/eraser.png") no-repeat center center;
  }
  .line {
    background: url("../assets/images/diagonal-line.png") no-repeat center
      center;
  }
  .undo {
    margin-left: auto;
    background: url("../assets/images/arrowhead-thin-outline-to-the-left.png")
      no-repeat center center;
  }
  .redo {
    background: url("../assets/images/arrow-point-to-right.png") no-repeat
      center center;
  }
  .save {
    background: url("../assets/images/floppy-disk.png") no-repeat center center;
    margin-right: 10px;
  }
}

.settingbar {
  height: $toolbar-height;
  background-color: $setting-ar-background-color;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: $toolbar-height;
}
